.polls-create__form-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

.polls-create__form {
  display: grid;
  grid-row-gap: 20px;
}

.polls-create__form-row {
  display: grid;
  grid-row-gap: 5px;
}
